<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/facturas-aprobadas"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-label text-wrap>Asignar fecha de pagos e items de QBs</ion-label>  
    </ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-list>
      <ion-item>
        <ion-label>Memo</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Referencia</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-input
          readonly
          name="dateinit"
          [(ngModel)]="mydate"
          (ionChange)="onChangeDateEnd($event)"
          [liIonic4Datepicker]="datePickerObj"
        >
        </ion-input>
        <ion-icon slot="end" name="calendar"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
