.pick-profile {
    position: relative;
    top: 20px;
    right: 10px;
    height: 30px !important;
    width: 30px !important;
}

.background-gradient {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.fa-file-pdf {
    color: white;;
    background: red;
}

.fa-file-code {
    color: black;
    background: white;
}