
.background-gradient {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.state-right {
    margin-left: 15px;
}

.archived {
    font-size: 15px;
    font-weight: 300;
}

.actions {
    font-size: 20px;
    font-weight: 700;
}

.fa-file-pdf {
    color: white;;
    background: red;
}

.fa-file-code {
    color: black;
    background: white;
}

.icon-left {
    margin: 0;
    margin-right: 5px;
}

.icon-right {
    margin: 0;
}

.label-right {
    position: relative;
    right: -101px;
}

.badge-center {
    position: absolute;
    top: 2px;
}

ion-item {
    // --border-color: black;
}

.margin-top {
    margin-top: 10px;
}

.badge-center-descount {
    position: absolute;
    left: 5px;
}

.concept-dif {
    display: flex;

    h3 {
        margin-right: 45px;
        margin-left: 20px;
    }

    .concept-monto {
        position: relative;
        right: 37px;
    }
}